<% 
=begin %>
<section class="jumbotron  text-center">
  <h1>You are now logged in.</h1>
</section>
  <% 
=end %>

<% content_for :welcome do %>
<h3 class="text-2xl">Account Dashboard (logged in)</h3>
<% end %>